<link rel="stylesheet" href="/css/banner.css">


<div class="section-banner">
    <img src="/images/{{bannerImg}}">
    <div class="title-banner">
        {{title}}
    </div>
    <div class="overlay">
  </div>
</div>