<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="section">
        <div class="footer-logo">
            <img src="/images/logo.svg">
        </div>
    </div>
    <div class="section">
        <div class="title">FAST LINKS</div>
        <div class="nav-footer">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                {{!-- <li><a href="#">VILLS</a></li> --}}
                <li><a href="/about-place">ABOUT PLACES</a></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="title">
            FOLLOW US
        </div>
        <div class="text">
            YOU CAN FOLLOW US ON SOCIAL NETWORKS
        </div>
        <div class="icons">
            <div class="icon">
                <a href="https://m.facebook.com/profile.php?id=107806987601109&ref=content_filter"><i
                        class="fa fa-facebook"></i></a>
            </div>
            <div class="icon">
                <a href="https://instagram.com/maras_coast?igshid=1l8dvsa9v204a"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="icon">
                <a href="https://www.youtube.com/channel/UCNPCHQ06UsiSjpcTJe8f8Rw"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title">OUR NEWLETTER</div>
        <div class="text">
            For more information write us here, we will answer you as fast as posible!
        </div>
        <div class="input-btn">
            <input type="text">
            <div class="btn">
                <button style="margin-top: 15px;"><a style="color: #fff; text-decoration: none" href="/contact">CONTACT</a></button>
            </div>
        </div>
    </div>
</footer>