<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="section">
        <div class="footer-logo">
            <img src="/images/logo.svg">
        </div>
    </div>
    <div class="section">
        <div class="title">BRZI LINKOVI</div>
        <div class="nav-footer">
            <ul>
                <li><a href="/">POČETNA</a></li>
                <li><a href="/about">O NAMA</a></li>
                {{!-- <li><a href="#">VILLS</a></li> --}}
                <li><a href="/about-place">O MESTU</a></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="title">
            PRATI NAS
        </div>
        <div class="text">
            MOŽETE NAS ZAPRATITI NA DRUŠTVENIM MREŽAMA
        </div>
        <div class="icons">
            <div class="icon">
                <a href="https://m.facebook.com/profile.php?id=107806987601109&ref=content_filter"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="icon">
                <a href="https://instagram.com/maras_coast?igshid=1l8dvsa9v204a"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="icon">
                 <a href="https://www.youtube.com/channel/UCNPCHQ06UsiSjpcTJe8f8Rw"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title">NAŠ NEWLETTER</div>
        <div class="text">
            Za sve informacije pišite ovde, odgovor sledi u najbržem mogućem roku!
        </div>
        <div class="input-btn">
            <div class="btn">
                <button style="margin-top: 15px;"><a style="color: #fff; text-decoration: none" href="/contact">KONTAKT</a></button>
            </div>
        </div>
    </div>
</footer>