<link rel="stylesheet" href="/css/aboutplace.css">
{{> banner}}

<div class="program-card-container">
    <div class="single-card">
        <img src="/images/placeImg/Crkvine.png" alt="">
        <div class="card-text">
            <p>Crkvine su arheološki lokalitet na području Parka prirode Vransko jezero na kojeme su pronađene iskopine
                crkve Sv. Marije (oko 800.te godine za vreme kneza Branimira).
                Lokalitet se nalazi uz put koji vodiod Pakoštana prema Vrani.</p>
            <div class="overlay-card"></div>
        </div>
    </div>
    <div class="single-card" style="margin: auto 10px;">
        <img src="/images/placeImg/Maškovića Han.png" alt="">
        <div class="card-text">
            <p>Han Jusufa Maškovića, građen kao letnikovac rezidencija zapovednika turske vojske,najveći je spomenik
                turske gradjevine u Hrvatskoj i najzapadnija građevina osmanlijske arhitekture na tlu nekadašnjeg
                turskog carstva. Sredstvima Evropske unije han je obnovljen pa danas ispunjava prvu namenu(14 soba, 2
                apartmana, recepcija, restoran, suvenirnica, upravna zgrada, muzej, čak i 1 wellness…).</p>
            <div class="overlay-card"></div>
        </div>
    </div>
    <div class="single-card">
        <img src="/images/placeImg/Potopljeni brod Galija.png" alt="">
        <div class="card-text">
            <p>Potopljeni brod Galija iz antičkog doba nalazi se uz ostrvce Babuljaš.
                Svedok je daleke prošlosti Pakoštana i tadašnjeg načina života. Pretpostavlja se da je brod bio dug 20
                –ak metara i da su nalazi s područja severne Afrike.
                Među nalazima preovladavaju amfore za maslinovo ulje,riblje prerađevine i luksuzno posuđe.</p>
            <div class="overlay-card"></div>
        </div>
    </div>
</div>
<div class="section-info">
    <div class="title">Korisne informacije Pakoštane</div>
    <div class="helpful-info">
        <p class="numbers">

            <br>
<br>
<b>DOKTOR</b>
            Kraljice Jelene
            +385 23 381 005

            <br>
<br>
<b>STOMATOLOŠKA ORDINACIJA</b>
            Kraljice Jelene 1, Pakoštane
            +385 23 381 704

            <br>
<br>
<b>VULKANIZER</b>
            +385 91 508 8022

            <br>
<br>
<b>AUTOBUSNI KOLODVOR BIOGRAD</b>
            Trg hrvatskih velikana bb, Biograd
            +385 60 350 350

            <br>
<br>
<b>POLICIJSKA POSTAJA 192</b>
            Put Solina 2, Biograd
            +385 1 192
            +385 23 345 7299
            +385 23 345 739
            +385 23 345 711

            <br>
<br>
<b>VATROGASCI 193</b>
            +385 1 193

            <br>
<br>
<b>POMOĆ NA CESTI – 1987</b>
            +385 1 1987

            <br>
<br>
<b>SLUŽBA ZA ZAŠTITU I SPAŠAVANJE 112</b>
            112

            <br>
<br>
<b>SPAŠAVANJE I TRAGANJE NA MORU 195</b>
            +385 1 195
        </p>
        <p class="numbers">
            <br>
<br>
<b>ZRAČNA LUKA ZADAR</b>
            PP 367, Zadar
            +385 23 205 800
            +385 23 205 833
            06:00 – 22:00
            info@zadar-airport.hr
            www.zadar-airport.hr

            <br>
<br>
<b>OTP BANKOMAT</b>
            Ul. Kardinala Alojzija Stepinca 2, Pakoštane

            <br>
<br>
<b>ERSTE BANKOMAT</b>
            Jadranska Magistrala 22, Pakoštane

            <br>
<br>
<b>PARTNER BANKA BANKOMAT</b>
            Jure Kaštelana 1, Pakoštane

            <br>
<br>
<b>ZAGREBAČKA BANKA BANKOMAT</b>
            Zvonimirova ul. 5, Pakoštane

            <br>
<br>
<b>EURONET BANKOMAT</b>
            Brune Bušića bb, Pakoštane

            <br>
<br>
<b>PARTNER BANKA</b>
            Jure Kaštelana 1, Pakoštane
            +385 23 382 449
            +385 23 382 448

            <br>
<br>
<b>BOLNICE</b>
            DOM ZDRAVLJA BIOGRAD NA MORU
            Matije Ivanića 6, Biograd
            +385 23 383 014
            +385 23 239 802
        </p>
        <p class="numbers">
            <br>
<br>
<b>SPECIJALNA BOLNICA ZA ORTOPEDIJU</b>
            Zadarska 62, Biograd
            +385 23 206 050 – centrala
            upis.bolnica.biograd@ortopedija-biograd.hr
            www.ortopedija-biograd.hr

            <br>
<br>
<b>VETERINARSKE AMBULANTE</b>

            <br>
<br>
<b>VETERINARSKA AMBULANTA BIOGRAD</b>
            Kralja Petra Svačića 25, Biograd
            +385 23 385 860
            +385 91 511 5092
            +385 23 385 860

            <br>
<br>
<b>VETERINARSKA AMBULANTA NOVA D.O.O.</b>
            Braće Radić 21, Biograd
            +385 23 385 005
            +385 99 224 3310
            +385 23 385 005
        </p>
    </div>
    <div class="helpful-info">
        <p class="numbers">
            HITNA SLUŽBA
            112<br>
            HITNA POMOĆ
            112
            194<br>
            POLICIJA
            112
            192<br>
            VATROGASCI
            112
            193<br>
            POTRAGA I SPAŠAVANJE NA MORU
            112
            195<br>
            POMOĆ NA CESTI
            1987<br><br>
            AMBULANTA OPĆE MEDICINE
            Don Balda Violića 22
            +385 (0)22 467 080<br>
            STOMATOLOŠKA AMBULANTA
            Don Balda Violića 22
            +385 (0)22 466 140<br>
            TURISTIČKA AMBULANTA TISNO
            +385 (0)22 22 438 427<br>
        </p>
        <p class="numbers">
            OPĆINA PIROVAC<br>
            Zagrebačka 23
            +385 (0)22 467 077
            +385 (0)22 567 423<br><br>
            POŠTA PIROVAC
            Kralja Krešimira IV 6
            +385 (0)22 467 451<br><br>
            BANKA
            Kralja Krešimira IV 3A
            +385 (0)22 466 622<br><br>
            TAXI PIROVAC
            +385 (0)98 189 55 40<br><br>
        </p>
        <p class="numbers">
            Caffe bar
            Albatros
            Urem kapetana 14, Pirovac
            +385 (0)98 296 835
<br>
            Caffe bar
            Azzuro
<br>

            Caffe bar
            Atlantida
<br>

            Caffe bar
            Balun
<br>
            Plaža Lolić, Pirovac
            +385 (0)95 911 19 37
        </p>
    </div>
</div>