<link rel="stylesheet" href="/css/aboutplace.css">
{{> banner}}

<div class="program-card-container">
    <div class="single-card">
        <img src="/images/placeImg/Crkvine.png" alt="">
        <div class="card-text">
            <p>The churches are an archeological place in the area of ​​the Vrana Lake Nature Park, where the
                excavations of the church of Sv. Marija (around the year 800 during the time of Prince Branimir). The
                place is located along the road that leads from Pakostane to Vrana.</p>
            <div class="overlay-card"></div>
        </div>
    </div>
    <div class="single-card" style="margin: auto 10px;">
        <img src="/images/placeImg/Maškovića Han.png" alt="">
        <div class="card-text">
            <p>Han Jusuf Mašković, built as a summer residence of the residences of the commanders of the Turkish army,
                is the largest monument of Turkish architecture in Croatia and the most western building of Ottoman
                architecture on the territory of the former Turkish Empire. With the funds of the European Union, the
                inn was renovated, so today it fulfills its first purpose (14 rooms, 2 apartments, reception,
                restaurant, souvenir shop, administrative building, museum, even wellness…).</p>
            <div class="overlay-card"></div>
        </div>
    </div>
    <div class="single-card">
        <img src="/images/placeImg/Potopljeni brod Galija.png" alt="">
        <div class="card-text">
            <p>The sunken ship Galija from ancient times is located along the island of Babuljaš. It is witness of the
                distant past of Pakostane and the way of life at that time. It is assumed that the ship was about 20
                meters long and that the finds were from the area of ​​North Africa. Amphoras for olive oil, fish
                products and luxury dishes predominate among the finds.</p>
            <div class="overlay-card"></div>
        </div>
    </div>
</div>
<div class="section-info">
    <div class="title">Helpful information Pakostane</div>
    <div class="helpful-info">
        <p class="numbers">

            <br>
            <br>
            <b>DOCTOR</b>
            Kraljice Jelene
            +385 23 381 005

            <br>
            <br>
            <b>DENTAL CLINIC</b>
            Kraljice Jelene 1, Pakoštane
            +385 23 381 704

            <br>
            <br>
            <b>VULCANIZER</b>
            +385 91 508 8022

            <br>
            <br>
            <b>BIOGRAD BUS STATION</b>
            Trg hrvatskih velikana bb, Biograd
            +385 60 350 350

            <br>
            <br>
            <b>POLICE STATION 192</b>
            Put Solina 2, Biograd
            +385 1 192
            +385 23 345 7299
            +385 23 345 739
            +385 23 345 711

            <br>
            <br>
            <b>FIREFIGHTERS 193</b>
            +385 1 193

            <br>
            <br>
            <b>ROAD ASSISTANCE – 1987</b>
            +385 1 1987

            <br>
            <br>
            <b>PROTECTION AND RESCUE SERVICE 112</b>
            112

            <br>
            <br>
            <b>RESCUE AND SEARCH AT SEA 195</b>
            +385 1 195
        </p>
        <p class="numbers">
            <br>
            <br>
            <b>AIRPORT ZADAR</b>
            PP 367, Zadar
            +385 23 205 800
            +385 23 205 833
            06:00 – 22:00
            info@zadar-airport.hr
            www.zadar-airport.hr

            <br>
            <br>
            <b>OTP CASH MACHINE</b>
            Ul. Kardinala Alojzija Stepinca 2, Pakoštane

            <br>
            <br>
            <b>ERSTE CASH MACHINE</b>
            Jadranska Magistrala 22, Pakoštane

            <br>
            <br>
            <b>PARTNER BANKA CASH MACHINE</b>
            Jure Kaštelana 1, Pakoštane

            <br>
            <br>
            <b>ZAGREBAČKA BANKA CASH MACHINE</b>
            Zvonimirova ul. 5, Pakoštane

            <br>
            <br>
            <b>EURONET CASH MACHINE</b>
            Brune Bušića bb, Pakoštane

            <br>
            <br>
            <b>PARTNER BANKA</b>
            Jure Kaštelana 1, Pakoštane
            +385 23 382 449
            +385 23 382 448

            <br>
            <br>
            <b>HOSPITALS</b>
            DOM ZDRAVLJA BIOGRAD NA MORU
            Matije Ivanića 6, Biograd
            +385 23 383 014
            +385 23 239 802
        </p>
        <p class="numbers">
            <br>
            <br>
            <b>SPECIAL HOSPITAL FOR ORTHOPEDICS</b>
            Zadarska 62, Biograd
            +385 23 206 050 – centrala
            upis.bolnica.biograd@ortopedija-biograd.hr
            www.ortopedija-biograd.hr

            <br>
            <br>
            <b>VETERINARY CLINICS</b>

            <br>
            <br>
            <b>VETERINARY CLINICS BIOGRAD</b>
            Kralja Petra Svačića 25, Biograd
            +385 23 385 860
            +385 91 511 5092
            +385 23 385 860

            <br>
            <br>
            <b>VETERINARY CLINICS NOVA D.O.O.</b>
            Braće Radić 21, Biograd
            +385 23 385 005
            +385 99 224 3310
            +385 23 385 005
        </p>
    </div>
    <div class="helpful-info">
        <p class="numbers">
            EMERGENCY SERVICE
            112<br>
            AMBULANCE
            112
            194<br>
            POLICE
            112
            192<br>
            FIREFIGHTERS
            112
            193<br>
            SEARCH AND RESCUE AT SEA
            112
            195<br>
            ROAD ASSISTANCE
            1987<br><br>
            GENERAL MEDICINE CLINIC
            Don Balda Violića 22
            +385 (0)22 467 080<br>
            DENTAL CLINIC
            Don Balda Violića 22
            +385 (0)22 466 140<br>
            TOURIST CLINIC TISNO
            +385 (0)22 22 438 427<br>
        </p>
        <p class="numbers">
            TOWNSHIP PIROVAC<br>
            Zagrebačka 23
            +385 (0)22 467 077
            +385 (0)22 567 423<br><br>
            THE POST OFFICE PIROVAC
            Kralja Krešimira IV 6
            +385 (0)22 467 451<br><br>
            BANK
            Kralja Krešimira IV 3A
            +385 (0)22 466 622<br><br>
            TAXI PIROVAC
            +385 (0)98 189 55 40<br><br>
        </p>
        <p class="numbers">
            Caffe bar
            Albatros
            Urem kapetana 14, Pirovac
            +385 (0)98 296 835
            <br>
            Caffe bar
            Azzuro
            <br>

            Caffe bar
            Atlantida
            <br>

            Caffe bar
            Balun
            <br>
            Beach Lolić, Pirovac
            +385 (0)95 911 19 37
        </p>
    </div>
</div>