<link rel="stylesheet" href="/css/about.css">
{{> banner}}
<div class="about">
    <div class="title-about">
        O NAMA
    </div>
    <div class="about-text">
        Mara's Coast aprtmani kojih trenutno ima 3 su smeštene u Hrvatskoj u mestima Drage Pakoštane i Pirovac.
        <br>
        Naša misija jeste da gostima pružimo zanimljiv i ugodan doživljaj tokom posete Hrvatskom primorju, pružajući im
        najbolji i neophodni doživljaj mirnog i porodićnog letovanja.
    </div>
</div>
<div class="section-home-three">
    <div class="info">
        <h3>
            Telefon
        </h3>
        <i class="fa fa-phone"></i>
        <p>+385 99 868 1687</p>
    </div>
    {{!-- <div class="info">
        <h3>
            Lokacija
        </h3>
        <i class="fa fa-map-marker"></i>
        <p>Hehruova 51, Novi Beograd</p>
    </div> --}}
    <div class="info">
        <h3>
            WhatsApp
        </h3>
        <i class="fa fa-whatsapp"></i>
        <p>+385 99 868 1687</p>
    </div>
    <div class="info">
        <h3>
            Email
        </h3>
        <i class="fa fa-envelope"></i>
        <p>info@marascoast.com</p>
    </div>
</div>