<link rel="stylesheet" href="/css/about.css">
{{> banner}}
<div class="about">
    <div class="title-about">
        About us
    </div>
    <div class="about-text">
        Mara's Coast apartments, of which there are currently 3, are located in Croatia in Drage Pakostane and Pirovac.
        <br>
        Our mission is to provide guests with an interesting and pleasant experience during their visit to the Croatian
        coast, providing them with the best and necessary experience of a peaceful and family vacation.
    </div>
</div>
<div class="section-home-three">
    <div class="info">
        <h3>
            Phone number
        </h3>
        <i class="fa fa-phone"></i>
        <p>+385 99 868 1687</p>
    </div>
    {{!-- <div class="info">
        <h3>
            Lokacija
        </h3>
        <i class="fa fa-map-marker"></i>
        <p>Hehruova 51, Novi Beograd</p>
    </div> --}}
    <div class="info">
        <h3>
            WhatsApp
        </h3>
        <i class="fa fa-whatsapp"></i>
        <p>+385 99 868 1687</p>
    </div>
    <div class="info">
        <h3>
            Email
        </h3>
        <i class="fa fa-envelope"></i>
        <p>info@marascoast.com</p>
    </div>
</div>