<link rel="stylesheet" href="/css/home.css">

{{!-- SLIDER --}}
<ul class="slides">
  <input type="radio" name="radio-btn" id="img-1" checked />
  <li class="slide-container">
    <div class="slide">
      <div class="img-after"></div>
      <img src="/images/slider/slika6.jpg" />
    </div>
    {{!-- <p class="slider-text">PODELI SA NAMA NAJLEPŠE MOMENTE <br>#MARASCOAST</p> --}}
    <div class="nav nav-arrows">
      <label for="img-6" class="prev">&#x2039;</label>
      <label for="img-2" class="next">&#x203a;</label>
    </div>
    <p class="slider-text">PODELI SA NAMA NAJLEPŠE MOMENTE <br>#MARASCOAST</p>
  </li>

  <input type="radio" name="radio-btn" id="img-2" />
  <li class="slide-container">
    <div class="slide">
      <div class="img-after"></div>
      <img src="/images/slider/slika2.jpg" />
    </div>
    <div class="nav nav-arrows">
      <label for="img-1" class="prev">&#x2039;</label>
      <label for="img-3" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-3" />
  <li class="slide-container">
    <div class="slide">
      <div class="img-after"></div>
      <img src="/images/slider/slika3.jpg" />
    </div>
    <div class="nav nav-arrows">
      <label for="img-2" class="prev">&#x2039;</label>
      <label for="img-4" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-4" />
  <li class="slide-container">
    <div class="slide">
      <div class="img-after"></div>
      <img src="/images/slider/slika4.jpg" />
    </div>
    <div class="nav nav-arrows">
      <label for="img-3" class="prev">&#x2039;</label>
      <label for="img-5" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-5" />
  <li class="slide-container">
    <div class="slide">
      <div class="img-after"></div>
      <img src="/images/slider/slika5.jpg" />
    </div>
    <div class="nav nav-arrows">
      <label for="img-4" class="prev">&#x2039;</label>
      <label for="img-6" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-6" />
  <li class="slide-container">
    <div class="slide">
      <div class="img-after"></div>
      <img src="/images/slider/slika1.jpg" />
    </div>
    <div class="nav nav-arrows">
      <label for="img-5" class="prev">&#x2039;</label>
      <label for="img-1" class="next">&#x203a;</label>
    </div>
  </li>

  {{!-- <li class="nav-dots">
    <label for="img-1" class="nav-dot" id="img-dot-1"></label>
    <label for="img-2" class="nav-dot" id="img-dot-2"></label>
    <label for="img-3" class="nav-dot" id="img-dot-3"></label>
    <label for="img-4" class="nav-dot" id="img-dot-4"></label>
    <label for="img-5" class="nav-dot" id="img-dot-5"></label>
    <label for="img-6" class="nav-dot" id="img-dot-6"></label>
  </li> --}}
</ul>
{{!-- SLIDER --}}
<div class="section-home-one">
  <div class="text-top">
    Amelia • Bianca • Ciara
  </div>
  <div class="text-bottom">
    ISPLANIRAJ SVOJ SLEDEĆI ODMOR
  </div>
</div>

<div class="program-card-container">
  <div class="single-card">
    <img src="/images/amelia/slika22-min.jpg" alt="">
    <div class="card-text">
      <p>Amelia</p>
      <div class="overlay-card"></div>
    </div>
    <div class="btn-card">
      <button><a style="text-decoration: none;color: #fff;" href="/apartments/amelia">Detaljnije</a></button>
    </div>
  </div>
  <div class="single-card" style="margin: auto 10px;">
    <img src="/images/bianca/slika31-min-min.jpg" alt="">
    <div class="card-text">
      <p>Bianca</p>
      <div class="overlay-card"></div>
    </div>
    <div class="btn-card">
      <button><a style="text-decoration: none;color: #fff;" href="/apartments/bianca">Detaljnije</a></button>
    </div>
  </div>
  <div class="single-card">
    <img src="/images/ciara/slika4-min-min.jpg" alt="">
    <div class="card-text">
      <p>Ciara</p>
      <div class="overlay-card"></div>
    </div>
    <div class="btn-card">
      <button><a style="text-decoration: none;color: #fff;" href="/apartments/ciara">Detaljnije</a></button>
    </div>
  </div>
</div>
<div class="section-home-two">
  <div class="img">
    <img src="/images/slider/slika4.jpg">
  </div>
  <div class="lorem-text">
    <div class="lorem">USUDITE SE DA OD ODMORA TRAŽITE SAMO NAJBOLJE
    </div>
  </div>
  <div class="overlay">
  </div>
</div>
<div class="section-home-three">
  <div class="info">
    <h3>
      Telefon
    </h3>
    <i class="fa fa-phone"></i>
    <p>+385 99 868 1687</p>
  </div>
  {{!-- <div class="info">
    <h3>
      Lokacija
    </h3>
    <i class="fa fa-map-marker"></i>
    <p>Hehruova 51, Novi Beograd</p>
  </div> --}}
  <div class="info">
    <h3>
      WhatsApp
    </h3>
    <i class="fa fa-whatsapp"></i>
    <p>+385 99 868 1687</p>
  </div>
  <div class="info">
    <h3>
      Email
    </h3>
    <i class="fa fa-envelope"></i>
    <p>info@marascoast.com</p>
  </div>
</div>